DB_USERNAME=omc
DB_PASSWORD=password
POSTGRES_HOST_PORT=5432
REDIS_HOST_PORT=6379
KAFKA_HOST_PORT=9092
TOSS_WIREMOCK_HOST_PORT=18080
PAYMENT_SERVICE_HOST_PORT=8085
PAYMENT_TEST_TOOLS_HOST_PORT=8090
PROMETHEUS_HOST_PORT=19090
GRAFANA_HOST_PORT=13000
PAYMENT_PG_MODE=toss
TOSS_SECRET_KEY=test-secret-key
TOSS_READ_TIMEOUT_MS=3000
TOSS_MAX_CONNECTIONS=170
TOSS_MAX_CONNECTIONS_PER_ROUTE=170
TOSS_BULKHEAD_MAX_CONCURRENT_CALLS=160
PAYMENT_DATASOURCE_MAX_POOL_SIZE=30
PAYMENT_UNKNOWN_RECOVERY_INITIAL_DELAY_MS=60000
PAYMENT_UNKNOWN_RECOVERY_FIXED_DELAY_MS=30000
KAFKA_TOPIC_DEFAULT_PARTITIONS=3
KAFKA_LISTENER_CONCURRENCY=3
TEST_TOOLS_KAFKA_GROUP_ID=payment-test-tools-verifier
TEST_TOOLS_VERIFIER_ENABLED=true
TEST_TOOLS_VERIFICATION_TIMEOUT=15s
